layout {
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 100%;
    min-width: 0;

    /* Base styles for individual layouts */
    > * {
        position: sticky;
        display: flex;
        flex: 1 1 auto;
        width: 100%;
    }

    /* Base styles for components that load as a route */
    router-outlet {
        + * {
            position: sticky;
            display: flex;
            flex: 1 1 auto;
            width: 100%;
        }
    }
}
