<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent">
  <div class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">
    <div class="text-4xl font-extrabold tracking-tight">{{ isEditMode ? 'Edit Guest' : 'Add Guest' }}</div>
    <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
      <!-- <button mat-stroked-button class="mr5" color="primary" type="button" (click)="addFamilyMember()">
        Add another guest
        <mat-icon class="ml-1">add</mat-icon>
      </button> -->
      <button mat-flat-button color="primary" class="app-button back-Green" (click)="cancel()">View List</button>
    </div>
  </div>

  <div class="flex flex-auto overflow-visible">
    <div class="flex flex-auto flex-col overflow-visible sm:mb-18 sm:overflow-y-auto">
      <mat-card class="mt-4 mx-6 md:mx-8">
        <mat-card-content>
          <form [formGroup]="frmGuest" (ngSubmit)="save()" novalidate class="app-form">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 auto-rows-min">

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Code</mat-label>
                <input matInput formControlName="code" readonly />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Guest First Name</mat-label>
                <input matInput formControlName="firstName" />
                <mat-error *ngIf="frmGuest.get('firstName')?.invalid && frmGuest.get('firstName')?.touched">
                  Guest first name is required.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Guest Last Name</mat-label>
                <input matInput formControlName="lastName" />
                <mat-error *ngIf="frmGuest.get('lastName')?.invalid && frmGuest.get('lastName')?.touched">
                  Guest last name is required.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
                <mat-error *ngIf="frmGuest.get('email')?.invalid && frmGuest.get('email')?.touched">
                  Enter a valid email.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Mobile</mat-label>
                <input matInput formControlName="mobile" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Unit</mat-label>
                <mat-select formControlName="unitId">
                  <mat-option *ngFor="let unit of units" [value]="unit.id">
                    {{ unit.buildingName || unit.building?.buildingName || unit.building?.name }} - {{ unit.unitName ||
                    unit.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Card Id</mat-label>
                <input matInput formControlName="cardId" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Qr Id</mat-label>
                <input matInput formControlName="qrId" />
              </mat-form-field>
              <!-- <mat-checkbox class="w-full" formControlName="isResident">Add User</mat-checkbox> -->

              <!-- Profile Photo -->
              <!-- <div class="w-full lg:col-span-3 profile-photo-section">
                <label class="profile-photo-title">
                  Profile Photo
                </label>

                <div class="profile-photo-card">
                  <img *ngIf="profilePhotoPreview" [src]="profilePhotoPreview" alt="Profile Photo"
                    class="profile-photo-img" />

                  <div *ngIf="!profilePhotoPreview" class="profile-photo-placeholder">
                    <mat-icon>person</mat-icon>
                    <span>No Photo</span>
                  </div>
                </div>

                <button mat-flat-button color="primary" type="button" class="upload-photo-btn"
                  (click)="fileInput.click()">
                  <mat-icon>photo_camera</mat-icon>
                  Upload Photo
                </button>

                <input #fileInput type="file" accept="image/*" hidden (change)="onProfilePhotoSelected($event)" />
              </div> -->

            </div>
            <div class="flex justify-center mt-6">
              <button mat-flat-button color="primary" type="submit" class="app-button back-Green">
                Save
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>