<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent">
  <div
    class="relative flex flex-0 flex-col border-b px-6 py-8
               sm:flex-row sm:items-center sm:justify-between md:px-8"
  >
    <div class="text-4xl font-extrabold tracking-tight">
      {{ isEditMode ? 'Edit Amenity' : 'Add Amenity' }}
    </div>

    <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
      <button
        mat-flat-button
        color="primary"
        class="app-button back-Green"
        (click)="cancel()"
      >
        View List
      </button>
    </div>
  </div>

  <div class="flex flex-auto overflow-visible">
    <div class="flex flex-auto flex-col overflow-visible sm:mb-18 sm:overflow-y-auto">
      <mat-card class="property-add-edit-form mt-4 mx-6 md:mx-8">
        <mat-card-content>
          <form [formGroup]="frmAmenity" (ngSubmit)="save()" novalidate class="app-form">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 auto-rows-min">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Code</mat-label>
                <input matInput formControlName="code" readonly />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
                <mat-error *ngIf="frmAmenity.get('name')?.invalid && frmAmenity.get('name')?.touched">
                  Name is required.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let t of types" [value]="t">{{ t }}</mat-option>
                </mat-select>
                <mat-error *ngIf="frmAmenity.get('type')?.invalid && frmAmenity.get('type')?.touched">
                  Type is required.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option *ngFor="let s of statuses" [value]="s">{{ s }}</mat-option>
                </mat-select>
                <mat-error *ngIf="frmAmenity.get('status')?.invalid && frmAmenity.get('status')?.touched">
                  Status is required.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Building</mat-label>
                <mat-select formControlName="buildingId">
                  <mat-option [value]="null">None</mat-option>
                  <mat-option *ngFor="let b of buildings" [value]="b.id">
                    {{ b.buildingName }} - {{ b.code }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Floor</mat-label>
                <mat-select formControlName="floorId">
                  <mat-option [value]="null">None</mat-option>
                  <mat-option *ngFor="let f of floors" [value]="f.id">
                    {{ f.floorName }} - {{ f.code }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <ng-container *ngIf="!frmAmenity.get('buildingId')?.value">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Device</mat-label>
                  <mat-select formControlName="deviceId">
                    <mat-option [value]="null">None</mat-option>
                    <mat-option *ngFor="let device of devices" [value]="device.id || device.deviceId">
                      {{ device.devName || device.name || device.deviceId || device.id }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="frmAmenity.get('deviceId')?.value" appearance="outline" class="w-full">
                  <mat-label>Device Username</mat-label>
                  <input matInput formControlName="deviceUserName" />
                  <mat-error *ngIf="frmAmenity.get('deviceUserName')?.invalid && frmAmenity.get('deviceUserName')?.touched">
                    Device Username is required.
                  </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="frmAmenity.get('deviceId')?.value" appearance="outline" class="w-full">
                  <mat-label>Device Password</mat-label>
                  <input matInput type="password" formControlName="devicePassword" #devicePasswordField />
                  <button mat-icon-button type="button" (click)="
                      devicePasswordField.type === 'password'
                        ? (devicePasswordField.type = 'text')
                        : (devicePasswordField.type = 'password')
                    " matSuffix>
                    @if (devicePasswordField.type === 'password') {
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    }
                    @if (devicePasswordField.type === 'text') {
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    }
                  </button>
                  <mat-error *ngIf="frmAmenity.get('devicePassword')?.invalid && frmAmenity.get('devicePassword')?.touched">
                    Device Password is required.
                  </mat-error>
                </mat-form-field>
              </ng-container>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Location / Landmark / Address</mat-label>
                <input matInput formControlName="location" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full md:col-span-2 lg:col-span-3">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" rows="3"></textarea>
              </mat-form-field>
            </div>

            <div class="mt-6 text-lg font-semibold">Capacity &amp; Rules</div>
            <div class="mt-3 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 auto-rows-min">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Max Capacity</mat-label>
                <input matInput type="number" min="0" formControlName="maxCapacity" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Max Bookings / Day / Flat</mat-label>
                <input matInput type="number" min="0" formControlName="maxBookingsPerDayPerFlat" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Max Active Bookings / Flat</mat-label>
                <input matInput type="number" min="0" formControlName="maxActiveBookingsPerFlat" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Min Advance Booking (Hours)</mat-label>
                <input matInput type="number" min="0" formControlName="minAdvanceBookingHours" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Min Advance Booking (Days)</mat-label>
                <input matInput type="number" min="0" formControlName="minAdvanceBookingDays" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Max Advance Booking (Days)</mat-label>
                <input matInput type="number" min="0" formControlName="maxAdvanceBookingDays" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Booking Slot Required</mat-label>
                <mat-select formControlName="bookingSlotRequired">
                  <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">{{ opt.label }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                *ngIf="frmAmenity.get('bookingSlotRequired')?.value"
                appearance="outline"
                class="w-full"
              >
                <mat-label>Slot Duration (Minutes)</mat-label>
                <input matInput type="number" min="0" formControlName="slotDurationMinutes" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Buffer Time (Minutes)</mat-label>
                <input matInput type="number" min="0" formControlName="bufferTimeMinutes" />
              </mat-form-field>

              <div class="flex items-center gap-2">
                <mat-checkbox formControlName="allowMultipleSlotsPerBooking">
                  Allow Multiple Slots
                </mat-checkbox>
              </div>

              <div class="flex items-center gap-2">
                <mat-checkbox formControlName="allowMultipleUnits">
                  Allow Multiple Units
                </mat-checkbox>
              </div>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Requires Approval</mat-label>
                <mat-select formControlName="requiresApproval">
                  <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">{{ opt.label }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Allow Guests</mat-label>
                <mat-select formControlName="allowGuests">
                  <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">{{ opt.label }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="frmAmenity.get('allowGuests')?.value" appearance="outline" class="w-full">
                <mat-label>Max Guests Allowed</mat-label>
                <input matInput type="number" min="0" formControlName="maxGuestsAllowed" />
              </mat-form-field>
            </div>

            <div class="mt-6 text-lg font-semibold">Availability</div>
            <div class="mt-3 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 auto-rows-min">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Available Days</mat-label>
                <mat-select formControlName="availableDays" multiple>
                  <mat-option *ngFor="let day of daysOfWeek" [value]="day">{{ day }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Open Time</mat-label>
                <input matInput [ngxTimepicker]="openTimePicker" formControlName="openTime" readonly />
                <ngx-material-timepicker #openTimePicker></ngx-material-timepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Close Time</mat-label>
                <input matInput [ngxTimepicker]="closeTimePicker" formControlName="closeTime" readonly />
                <ngx-material-timepicker #closeTimePicker></ngx-material-timepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Holiday Blocked</mat-label>
                <mat-select formControlName="holidayBlocked">
                  <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">{{ opt.label }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full md:col-span-2 lg:col-span-3">
                <mat-label>Maintenance Schedule</mat-label>
                <input matInput formControlName="maintenanceSchedule" />
              </mat-form-field>
            </div>

            <ng-container
              *ngIf="
                !frmAmenity.get('bookingSlotRequired')?.value &&
                !frmAmenity.get('allowMultipleSlotsPerBooking')?.value &&
                !frmAmenity.get('allowMultipleUnits')?.value
              "
            >
              <div class="mt-6 text-lg font-semibold">Charges</div>
              <div class="mt-3 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 auto-rows-min">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Is Chargeable</mat-label>
                  <mat-select formControlName="isChargeable">
                    <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">{{ opt.label }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="frmAmenity.get('isChargeable')?.value" appearance="outline" class="w-full">
                  <mat-label>Charge Type</mat-label>
                  <mat-select formControlName="chargeType">
                    <mat-option *ngFor="let type of chargeTypes" [value]="type">{{ type }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="frmAmenity.get('isChargeable')?.value" appearance="outline" class="w-full">
                  <mat-label>Base Rate</mat-label>
                  <input matInput type="number" min="0" step="0.01" formControlName="baseRate" />
                </mat-form-field>

                <mat-form-field *ngIf="frmAmenity.get('isChargeable')?.value" appearance="outline" class="w-full">
                  <mat-label>Security Deposit</mat-label>
                  <input matInput type="number" min="0" step="0.01" formControlName="securityDeposit" />
                </mat-form-field>

                <mat-form-field *ngIf="frmAmenity.get('isChargeable')?.value" appearance="outline" class="w-full">
                  <mat-label>Refundable Deposit</mat-label>
                  <mat-select formControlName="refundableDeposit">
                    <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">{{ opt.label }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Tax Applicable</mat-label>
                  <mat-select formControlName="taxApplicable">
                    <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">{{ opt.label }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="frmAmenity.get('taxApplicable')?.value" appearance="outline" class="w-full">
                  <mat-label>Tax Code Id</mat-label>
                  <input matInput type="number" min="0" formControlName="taxCodeId" />
                </mat-form-field>

                <mat-form-field *ngIf="frmAmenity.get('taxApplicable')?.value" appearance="outline" class="w-full">
                  <mat-label>Tax Percentage</mat-label>
                  <input matInput type="number" min="0" step="0.01" formControlName="taxPercentage" />
                </mat-form-field>
              </div>
            </ng-container>

            <div class="mt-6 text-lg font-semibold">Documents &amp; Media</div>
            <div class="mt-3 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 auto-rows-min">
              <mat-form-field appearance="outline" class="w-full md:col-span-2 lg:col-span-3">
                <mat-label>Terms &amp; Conditions</mat-label>
                <textarea matInput formControlName="termsAndConditions" rows="4"></textarea>
              </mat-form-field>

              <div class="w-full md:col-span-2 lg:col-span-3">
                <div class="flex items-center justify-between">
                  <label class="text-lg font-semibold">Documents</label>
                  <button mat-stroked-button color="primary" type="button" (click)="docInput.click()">
                    <mat-icon>upload_file</mat-icon>
                    Upload Documents
                  </button>
                </div>

                <input #docInput type="file" multiple hidden (change)="onDocumentsSelected($event)" />

                <div *ngIf="selectedDocuments.length" class="mt-3">
                  <h4 class="font-medium">Selected Files</h4>
                  <div
                    *ngFor="let file of selectedDocuments; let i = index"
                    class="mt-2 flex items-center justify-between rounded border p-2"
                  >
                    <a
                      href="javascript:void(0)"
                      class="truncate text-blue-600 underline"
                      (click)="openSelectedDocument(file)"
                    >
                      {{ file.name }}
                    </a>
                    <button mat-icon-button color="warn" type="button" (click)="removeSelectedDocument(i)">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>

                <div *ngIf="existingDocuments.length" class="mt-4">
                  <h4 class="font-medium">Uploaded Documents</h4>
                  <div
                    *ngFor="let doc of existingDocuments; let i = index"
                    class="mt-2 flex items-center justify-between rounded border p-2"
                  >
                    <a
                      *ngIf="doc.filePath"
                      class="truncate text-blue-600 underline"
                      [href]="doc.filePath"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {{ doc.fileName || doc.filePath }}
                    </a>
                    <span *ngIf="!doc.filePath">{{ doc.fileName }}</span>
                    <button
                      mat-icon-button
                      color="warn"
                      type="button"
                      (click)="removeExistingDocument(doc, i)"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex justify-center mt-6">
              <button
                mat-flat-button
                color="primary"
                type="submit"
                class="app-button back-Green"
              >
                Save
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
