.file-upload-wrapper {
    position: relative;
}

.file-upload-label {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(23,187,88); /* Customize the button color */
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
