<div class="search-container">
  <!-- <div class="custom-search-bar">
    <input
      type="text"
      [(ngModel)]="searchText"
      (input)="onSearch()"
      class="search-input"
      [placeholder]="placeholder || 'Search...'"
    />
    <button *ngIf="searchText" class="clear-button" (click)="clearSearch()" aria-label="Clear search">
      <mat-icon>close</mat-icon>
    </button>
    <button class="search-icon" aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
  </div> -->
</div>